.donation-page-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  gap: 2rem;
  margin-inline: auto;
}

.donation-page-section > h1 {
  text-align: center;
}

.donor-tile-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.donor-tile {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid gray;
}
