.donate-and-rescue-section {
  padding: 50px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}

p {
  font-size: 1.5rem;
}

.donate-section,
.rescuer-registration-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  margin-top: 20px;
  background: rgb(0, 25, 73);
  background: linear-gradient(
    90deg,
    rgba(0, 25, 73, 1) 33%,
    rgba(0, 48, 130, 1) 100%
  );
  font-size: 1.2rem;
  font-weight: bold;
}

.button:hover {
  border-bottom: 1px solid white;
}

.button:focus {
  outline: none;
}
